<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

<center style="margin: 50px;">
	<h2 style="display: inline;">Search :</h2>
	<form method="GET" action="/search" style="display: inline;">
		<input type="text" name="search" value="{{ keywords }}">
	</form>
<h4>result : {{ result }}</h4>
</center>
{% if messages %} 
<ul class="messages"> 
	{% for msg in messages %} 
	<li> <div class="alert alert-{{msg.level_tag}}" role="alert"> {{msg.message}} </div> </li> 
	{% endfor %} 
</ul> 
{% endif %}
<br>
<br>
<ul>
	<li><a href="{% url 'about' %}">About</a></li>
</ul>

</body>
</html>