<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

<center style="margin: 50px;">
	<form method="GET" action="/search">
	{% load static %}
	<img src="{% static "search/logo.jpg" %}" alt="Logo" style="height:233px;margin-top:89px"/>
	<input style="margin-top:12px;display: block;width: 400px;" type="text" name="search" value="{{ keywords }}">
	<div style="margin: 20px;">
		<button>Search</button>
		<button>Random</button>
	</div>
	
	<h4>result : {{ result|capfirst }}</h4>
	</form>
</center>
<form method="GET" action="todb"><button>TOBD</button></form>
<br>
<br>
<ul>
	<li><a href="{% url 'about' %}">About</a></li>
	<li><a href="{% url 'contact' %}">Contact Us</a></li>
</ul>

</body>
</html>